<ion-header>
    <ion-navbar>
      <button ion-button menuToggle icon-only>
        <ion-icon name='menu'></ion-icon>
      </button>
    <ion-title>Home</ion-title>
    <ion-buttons end>
        <button ion-button icon-only>
            <ion-icon name="md-notifications">
            <ion-badge id="notifications-badge">5</ion-badge>
            </ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-slides pager [ngClass]="{'ListBackdrop': fabButtonOpened == true }">

        <ion-slide>
                <!-- <div *ngIf="doughnutChartData.length == 0"> -->
                <div>
                    <p style="color:darkgray">"You not data in view page add new expesense
                            for generate dynamic chart"</p>
                   <img src="assets/imgs/ica-slidebox-img-1.png" class="slide-image"/>
                </div>
        </ion-slide>
        <ion-slide>
              <div *ngIf="doughnutChartData.length == 0">
                  <p style="color:darkgray">"You not data in view page add new expesense
                          for generate dynamic chart"</p>
                <img src="assets/imgs/ica-slidebox-img-1.png" class="slide-image"/>
              </div>

              <div *ngIf="doughnutChartData.length > 0" style="display: block">
                  <canvas baseChart height="350"
                              [data]="doughnutChartData"
                              [labels]="doughnutChartLabels"
                              [chartType]="doughnutChartType"
                              (chartHover)="chartHovered($event)"
                              (chartClick)="chartClicked($event)"></canvas>
              </div>
          </ion-slide>
          <ion-slide>
                <!-- <div style="display: block;">
                        <canvas baseChart width="400" height="400"
                                    [datasets]="lineChartData"
                                    [labels]="lineChartLabels"
                                    [options]="lineChartOptions"
                                    [colors]="lineChartColors"
                                    [legend]="lineChartLegend"
                                    [chartType]="lineChartType"
                                    (chartHover)="chartHovered($event)"
                                    (chartClick)="chartClicked($event)"></canvas>
                        </div> -->
                <div style="display: block;">
                    <canvas baseChart width="400" height="400"
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [legend]="lineChartLegend"
                        [chartType]="lineChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
                 </div>
          </ion-slide>
          <ion-slide>
              <p style="color:darkgray">Not list expenses.</p>
            <img src="assets/imgs/ica-slidebox-img-4.png" class="slide-image"/>
          </ion-slide>

    </ion-slides>






    <ion-fab right bottom #fab>
        <button ion-fab color="positive" (click)="penFabButton()"><ion-icon name="add"></ion-icon></button>
        <ion-fab-list side="top">
            <ion-label class="graphic">Graphics</ion-label>
            <ion-label class="income">Incomes</ion-label>
            <ion-label class="categorie">Categories</ion-label>
            <ion-label class="expense">Expenses</ion-label>
            <button ion-fab style="color:#32db64" (click)="openIncome($event)"><ion-icon name="md-arrow-dropup"></ion-icon></button>
            <button ion-fab style="color:#f53d3d" (click)="openExpense($event)"><ion-icon name="md-arrow-dropdown"></ion-icon></button>
            <button ion-fab style="color:#488aff" (click)="openCategorie($event)"><ion-icon name="md-list"></ion-icon></button>
            <button ion-fab style="color:#565656" (click)="openGraphic($event)"><ion-icon name="md-pie"></ion-icon></button>
        </ion-fab-list>
    </ion-fab>
</ion-content>


<ion-footer>
    <ion-toolbar>
<!-- {{today | date:'dd/MM/yyyy'}} -->
    </ion-toolbar>
</ion-footer>
