page-home {
  .income{
    color: #32db64;
    position: absolute;
    width: 100%;
    padding-right: 220px;
    padding-bottom: 30px;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: right;
    font-weight: bold;
    }

  .categorie{
    color: #488aff;
    position: absolute;
    width: 100%;
    padding-right: 220px;
    padding-bottom: 140px;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: right;
    font-weight: bold;
    }

   .expense{
     color: #f53d3d;
     position: absolute;
     width: 100%;
     padding-right: 220px;
     padding-bottom: 85px;
     margin-top: 10px;
     margin-bottom: 0px;
     text-align: right;
     font-weight: bold;
    }

 

   .ListBackdrop{
        background-color: white !important;
        opacity: 0.2;
    }
    
    #notification-button {            
      position: relative;
      width: 42px;
      top:1px;
      right: 1px;
      overflow: visible!important;
    }


    #notifications-badge {
      background-color: red;
      position: absolute;
      top: -3px;
      right: -3px;
      border-radius: 100%;
    }
}
