<ion-header>
    <ion-navbar>
      <button ion-button menuToggle icon-only>
        <ion-icon name='menu'></ion-icon>
      </button>
    <ion-title>Home</ion-title>
    <ion-buttons end>
        <button ion-button icon-only>
            <ion-icon name="md-notifications" tabBadge="0">
            <ion-badge id="notifications-badge">5</ion-badge>
            </ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-slides pager [ngClass]="{'ListBackdrop': fabButtonOpened == true }" (ionSlideDidChange)="slideChanged()">

        <ion-slide>
                <!-- <div *ngIf="doughnutChartData.length == 0"> -->
                <div>
                    <p style="color:darkgray">"You not data in view page add new expesense
                            for generate dynamic chart"</p>
                   <img src="assets/imgs/ica-slidebox-img-1.png" class="slide-image"/>
                </div>
        </ion-slide>
        <ion-slide>
              <div *ngIf="doughnutChartData.length == 0">
                  <p style="color:darkgray">"You not data in view page add new expesense
                          for generate dynamic chart"</p>
                <img src="assets/imgs/404.png" class="slide-image"/>
              </div>

              <div *ngIf="doughnutChartData.length > 0" style="display: block">
                  <canvas     baseChart height="350"
                              [data]="doughnutChartData"
                              [labels]="doughnutChartLabels"
                              [chartType]="doughnutChartType"
                              (chartHover)="chartHovered($event)"
                              (chartClick)="chartClicked($event)" id="chartjs"></canvas>
              </div>
          </ion-slide>
          <ion-slide>
                <!-- <div style="display: block;">
                        <canvas baseChart width="400" height="400"
                                    [datasets]="lineChartData"
                                    [labels]="lineChartLabels"
                                    [options]="lineChartOptions"
                                    [colors]="lineChartColors"
                                    [legend]="lineChartLegend"
                                    [chartType]="lineChartType"
                                    (chartHover)="chartHovered($event)"
                                    (chartClick)="chartClicked($event)"></canvas>
                        </div> -->
                <div style="display: block;">
                    <canvas baseChart width="400" height="400"
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [legend]="lineChartLegend"
                        [chartType]="lineChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
                 </div>
          </ion-slide>
          <ion-slide>
              <p style="color:darkgray">Not list expenses.</p>
            <img src="assets/imgs/ica-slidebox-img-4.png" class="slide-image"/>
          </ion-slide>

    </ion-slides>

    <ion-fab right bottom>
        <button ion-fab color="positive" (click)="penFabButton()"><ion-icon name="add"></ion-icon></button>
        <ion-fab-list side="top">
            <button ion-fab [style.background-color]="color" (click)="openGraphic($event)">
                    <ion-icon name="md-pie" color="dark"></ion-icon>
                    <div style="color:#565656;" class="label" dir="rtl">Gráficos</div>
            </button>

            <button ion-fab [style.background-color]="color" (click)="openIncome($event)">
                    <ion-icon name="md-arrow-dropup" color="secondary"></ion-icon>
                    <div style="color:#32db64;" class="label" dir="rtl">Rendas</div>
            </button>

            <button ion-fab [style.background-color]="color" (click)="openCategorie($event)">
                    <ion-icon name="md-list" color="primary"></ion-icon>
                    <div style="color:#488aff" class="label" dir="rtl">Categorias</div>
            </button>

            <button ion-fab [style.background-color]="color" (click)="openExpense($event)">
                    <ion-icon name="md-arrow-dropdown" color="danger"></ion-icon>
                    <div style="color:#f53d3d;" class="label" dir="rtl">Despesas</div>
            </button>

            <!-- <div class="my-overlay" padding [hidden]="overlayHidden">
                <button full (click)="hideOverlay()">Click me</button>
            </div> -->

        </ion-fab-list>
    </ion-fab>

</ion-content>